# database
DB_NAME=salespilot
DB_USER=postgres
DB_PASSWORD=postgres
DB_URL=jdbc:postgresql://localhost:5432/salespilot

# jpa
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
DB_SCHEMA=public

# flyway
FLYWAY_BASELINE_ON_MIGRATE=false

# jwt
JWT_SECRET=salespilot-secret-key-super-secret
JWT_ISSUER=salespilot-api
JWT_ACCESS_TTL=1800
JWT_REFRESH_TTL=2592000

# grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin