DB_NAME=salespilot
DB_USER=postgres
DB_PASSWORD=postgres
SPRING_JPA_HIBERNATE_DDL_AUTO=validate

JWT_SECRET=salespilot-secret-key-super-secret
JWT_ISSUER=salespilot-api
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=2592000

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin